Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

fix: close final review gaps
  .github/workflows/ci.yml
  .lefthook.yml
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
  packages/agent-core/src/metrics.test.ts
  packages/agent-core/src/metrics.ts
Due: format, lint

ci: add merge gate
  .github/workflows/ci.yml
Due: none

fix: rebase merge gate onto bun ci
  .github/workflows/ci.yml
Due: none

docs: clarify merge gate semantics
  .github/workflows/ci.yml
Due: none

ci: add merge gate (#170)
  .github/workflows/ci.yml
Due: none

docs(claude): add agent-forward design invariant
  CLAUDE.md
Due: format

docs: migrate vision.md to project.md with agentic focus
  project.md
  vision.md
Due: format

docs: add grooming plan and session artifacts
  .groom/plan-2026-03-07.md
Due: format

chore: groom backlog — reset to agentic foundation (#182)
  .groom/plan-2026-03-07.md
  CLAUDE.md
  project.md
  vision.md
Due: format

fix: restore /test-results gitignore, remove leaked artifact
  .gitignore
  test-results/.last-run.json
Due: none

fix: restore .clerk gitignore to prevent auth state leaks
  .gitignore
Due: none

fix: correct pr review window coverage
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
Due: format, lint

docs: add retro log
  .groom/retro.md
Due: format

fix: harden search-backed pr collection
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
  packages/schemas/src/index.test.ts
  packages/schemas/src/index.ts
Due: format, lint

fix: page all pull request reviews
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
  packages/agent-core/src/github/client.ts
Due: format, lint

fix: harden github search paging semantics
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
  packages/agent-core/src/github/client.test.ts
  packages/agent-core/src/github/client.ts
Due: format, lint

fix: correct pr review window coverage (#184)
  .groom/retro.md
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
  packages/agent-core/src/github/client.test.ts
  packages/agent-core/src/github/client.ts
  packages/schemas/src/index.test.ts
  packages/schemas/src/index.ts
Due: format, lint

chore: remove Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

Path conditions:
  format: any of: *.{ts,tsx,md}
  lint: any of: *.{ts,tsx,js,jsx}
