Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

.lefthook.yml:

# Lefthook Configuration
# Fast git hooks (3-5x faster than Husky, parallel execution)
# Performance budget: <5s pre-commit, <15s pre-push

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --cache {staged_files}
      stage_fixed: true
    secrets:
      run: gitleaks protect --staged --verbose --config .gitleaks.toml

pre-push:
  commands:
    typecheck:
      run: pnpm typecheck
    test:
      run: pnpm test --bail
    convex:
      run: npx convex typecheck

feat: add Jest coverage tracking with 60% thresholds
  jest.config.cjs
  package.json
Due: none

feat: enable Dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

docs: update TODO.md with completed tasks and progress
  TODO.md
Due: format

feat: add Pino structured logger and migrate metrics
  .husky/_/pre-commit
  .husky/_/pre-push
  convex/actions/generateTestReports.ts
  convex/lib/logger.ts
  convex/lib/metrics.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

refactor(logging): migrate maintenance.ts to Pino structured logging
  convex/actions/github/maintenance.ts
Due: format, lint

refactor(logging): migrate startBackfill.ts to Pino structured logging
  convex/actions/github/startBackfill.ts
Due: format, lint

refactor(logging): migrate ingestionJobs.ts to Pino structured logging
  convex/ingestionJobs.ts
Due: format, lint

refactor(logging): migrate syncUserActivity.ts to Pino structured logging
  convex/actions/syncUserActivity.ts
Due: format, lint

refactor(logging): migrate daily/weekly report runners to Pino structured logging
  convex/actions/runDailyReports.ts
  convex/actions/runWeeklyReports.ts
Due: format, lint

refactor(logging): migrate authHealth.ts and scheduler.ts to Pino structured logging
  convex/actions/github/scheduler.ts
  convex/lib/authHealth.ts
Due: format, lint

refactor(logging): migrate ingestMultiple.ts and generateScheduledReport.ts to Pino
  convex/actions/generateScheduledReport.ts
  convex/actions/ingestMultiple.ts
Due: format, lint

refactor(logging): migrate runCleanup, runRegeneration, canonicalFactService to Pino
  convex/actions/reports/runRegeneration.ts
  convex/actions/runCleanup.ts
  convex/lib/canonicalFactService.ts
Due: format, lint

refactor(logging): complete Pino migration for all lib files and users.ts
  convex/lib/GitHubClient.ts
  convex/lib/LLMClient.ts
  convex/lib/embeddings.ts
  convex/lib/githubApp.ts
  convex/lib/reportGenerator.ts
  convex/lib/reportOrchestrator.ts
  convex/users.ts
Due: format, lint

feat(logging): add PII redaction to structured logging
  convex/lib/__tests__/logger.test.ts
  convex/lib/__tests__/reportOrchestrator.test.ts
  convex/lib/logger.ts
  jest.config.cjs
Due: format, lint

feat(observability): add health check endpoints for monitoring
  app/api/health/__tests__/route.test.ts
  app/api/health/route.ts
  convex/healthCheck.ts
  convex/http.ts
  jest.config.cjs
Due: format, lint

fix(security): add DOMPurify sanitization to prevent XSS in report HTML rendering
  app/dashboard/reports/[id]/page.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(security): add ownership verification to deleteReport mutation
  convex/reports.ts
Due: format, lint

feat(ci): add pnpm audit security scanning to CI pipeline
  .github/workflows/ci.yml
Due: none

docs(todo): update P1 Security Fixes to completed status
  TODO.md
Due: format

feat(analytics): enable Vercel Analytics with custom event tracking
  app/dashboard/reports/[id]/page.tsx
  app/dashboard/reports/page.tsx
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

feat(observability): install Sentry error tracking
  .env.example
  app/error.tsx
  next.config.ts
  package.json
  pnpm-lock.yaml
  sentry.config.ts
Due: format, lint

test(auth): add comprehensive Clerk authentication integration tests
  convex/lib/__tests__/authHealth.test.ts
  jest.config.cjs
Due: format, lint

docs(todo): update P1 progress to reflect completed tasks
  TODO.md
Due: format

feat(observability): complete Sentry setup with performance monitoring and alerts
  .env.example
  .github/workflows/sentry-release.yml
  TODO.md
  convex/_generated/api.d.ts
  convex/actions/github/processWebhook.ts
  docs/runbooks/sentry-alerts.md
  instrumentation.ts
  sentry.client.config.ts
  sentry.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint

chore(testing): verify auth integration tests complete
  TODO.md
Due: format

chore(cleanup): remove unused Husky hooks and add eslintcache to gitignore
  .env.local.example
  .gitignore
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
Due: none

fix(ci): resolve PR CI failures - Node version and Convex codegen
  .github/workflows/ci.yml
  .github/workflows/enforce-pnpm.yml
Due: none

fix(ci): re-enable gitleaks with license secret
  .github/workflows/ci.yml
  BACKLOG.md
Due: format

fix(ci): use --prod flag for convex codegen in CI
  .github/workflows/ci.yml
Due: none

fix(ci): resolve Convex codegen and secrets scanning issues
  .github/workflows/ci.yml
Due: none

fix(ci): commit Convex generated code per best practices
  .github/workflows/ci.yml
  .gitignore
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: format, lint

fix(test): extract auth health handler logic for testability
  convex/lib/__tests__/authHealth.test.ts
  convex/lib/authHealth.ts
Due: format, lint

refactor(ci): migrate to Vercel-managed deployments
  .github/workflows/ci.yml
  CI-FAILURE-SUMMARY.md
  README.md
  docs/deployment/MIGRATION_CHECKLIST.md
  docs/deployment/PREVIEW_DEPLOYMENTS_GUIDE.md
  docs/deployment/QUICK_START.md
  docs/deployment/README.md
  docs/deployment/VERCEL_SETUP.md
Due: format

feat(deploy): add CLI-based deployment setup script
  scripts/setup-deployment.sh
Due: none

fix(deploy): correct Vercel build command to wrap Convex deployment
  vercel.json
Due: none

fix(deploy): use double quotes in buildCommand for shell compatibility
  vercel.json
Due: none

fix(deploy): add --yes flag to skip Convex deploy confirmation
  vercel.json
Due: none

fix(deploy): match volume's working Convex deployment pattern
  vercel.json
Due: none
