Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

.lefthook.yml:

# Lefthook Configuration
# Fast git hooks (3-5x faster than Husky, parallel execution)
# Performance budget: <5s pre-commit, <15s pre-push

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --cache {staged_files}
      stage_fixed: true
    secrets:
      run: gitleaks protect --staged --verbose --config .gitleaks.toml

pre-push:
  commands:
    typecheck:
      run: pnpm typecheck
    test:
      run: pnpm test --bail
    convex:
      run: npx convex typecheck
    build:
      run: |
        if [ "${SKIP_BUILD_CHECK:-}" = "true" ]; then
          echo "âš ï¸  Skipping build check (SKIP_BUILD_CHECK=true)"
          exit 0
        fi
        echo "ðŸ”¨ Running build check..."
        pnpm build:app

feat(reports): populate sections for TL;DR widget display (#137)
  .github/workflows/evals.yml
  convex/lib/__tests__/generateReport.test.ts
  convex/lib/__tests__/reportSchemas.test.ts
  convex/lib/generateReport.ts
  convex/lib/reportSchemas.ts
  evals/promptfooconfig.yaml
  evals/prompts/daily-report.txt
  evals/prompts/weekly-report.txt
  package.json
  pnpm-lock.yaml
Due: format, lint

feat(onboarding): auto-generate first report after completion
  app/dashboard/reports/page.tsx
  components/WelcomeReportCard.tsx
  convex/_generated/api.d.ts
  convex/actions/reports/generateFirstReport.ts
  convex/schema.ts
  convex/users.ts
Due: format, lint

fix(security): override fast-xml-parser to patch DoS vulnerability
  package.json
  pnpm-lock.yaml
Due: none

fix(onboarding): address PR review feedback for first report feature
  app/dashboard/reports/page.tsx
  components/WelcomeReportCard.tsx
  components/__tests__/WelcomeReportCard.test.tsx
  convex/actions/reports/__tests__/generateFirstReport.test.ts
  convex/actions/reports/generateFirstReport.ts
  jest.config.cjs
Due: format, lint

fix(hooks): run pre-push sequentially, remove slow Convex typecheck
  .lefthook.yml
  components/__tests__/WelcomeReportCard.test.tsx
  convex/actions/reports/__tests__/generateFirstReport.test.ts
Due: format, lint

fix(onboarding): address second round of PR review feedback
  app/dashboard/reports/page.tsx
  components/WelcomeReportCard.tsx
  convex/actions/reports/generateFirstReport.ts
Due: format, lint

docs: enforce ActionResult<T> with helpers in CLAUDE.md
  CLAUDE.md
Due: format

feat(onboarding): auto-generate first report after completion (#139)
  .lefthook.yml
  CLAUDE.md
  app/dashboard/reports/page.tsx
  components/WelcomeReportCard.tsx
  convex/_generated/api.d.ts
  convex/actions/reports/generateFirstReport.ts
  convex/schema.ts
  convex/users.ts
  jest.config.cjs
  package.json
  pnpm-lock.yaml
Due: format, lint

feat(stripe): add subscription billing with checkout and portal
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  app/api/webhooks/stripe/route.ts
  app/dashboard/reports/page.tsx
  app/dashboard/settings/page.tsx
  app/pricing/page.tsx
  components/SubscriptionGate.tsx
  convex/_generated/api.d.ts
  convex/customers.ts
  convex/lib/subscriptionAccess.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.ts
  hooks/useSubscription.ts
  lib/auth/publicRoutes.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

ci: integrate Cerberus AI code review council v1
  .github/workflows/cerberus.yml
Due: none

ci: integrate Cerberus AI code review council
  .github/workflows/cerberus.yml
Due: none

feat(stripe): add subscription billing with checkout and portal (#143)
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  app/api/webhooks/stripe/route.ts
  app/dashboard/reports/page.tsx
  app/dashboard/settings/page.tsx
  app/pricing/page.tsx
  components/SubscriptionGate.tsx
  convex/_generated/api.d.ts
  convex/customers.ts
  convex/lib/subscriptionAccess.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.ts
  hooks/useSubscription.ts
  lib/auth/publicRoutes.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix: add transformIgnorePatterns for marked ESM package (#110)
  jest.config.cjs
Due: none

fix: harden observability defaults
  components/PostHogProvider.tsx
  lib/auth/publicRoutes.ts
  next.config.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint

fix: address CI failures (pnpm node version, security audit, cerberus key)
  .github/workflows/cerberus.yml
  .github/workflows/enforce-pnpm.yml
  package.json
  pnpm-lock.yaml
Due: none

fix: add pnpm setup to cerberus workflow
  .github/workflows/cerberus.yml
Due: none

fix: remove pnpm version from cerberus workflow (auto-detect from packageManager)
  .github/workflows/cerberus.yml
Due: none

fix(formatters): add optional timeZone param to formatReportDate (closes #134)
  .github/workflows/cerberus.yml
  .github/workflows/enforce-pnpm.yml
  lib/__tests__/formatters.test.ts
  lib/formatters.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(analytics): honor posthog proxy routing and ui host
  .env.example
  components/PostHogProvider.tsx
  next.config.ts
Due: format, lint

fix(ci): unblock cerberus auth and coverage run
  .github/workflows/cerberus.yml
  jest.config.cjs
Due: none

ci: standardize Cerberus workflow to default @master template
  .github/workflows/cerberus.yml
Due: none

ci: use CERBERUS_OPENROUTER_API_KEY for Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

chore(ci): slash legacy workflows and deployment checks
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e.yml
  .github/workflows/enforce-bun.yml
  .github/workflows/release.yml
  .github/workflows/sentry-release.yml
  .gitignore
  docs/TESTING.md
  docs/audits/llm-infrastructure-2026-03-05.md
  scripts/verify-deployment-config.sh
Due: format

chore(devx): make lefthook bun-native
  .lefthook.yml
Due: none

fix(deploy): align vercel build with bun monorepo web app
  vercel.json
Due: none

chore(deploy): disable vercel github deployments
  vercel.json
Due: none

fix(pr): unblock ci and harden agent runtime
  .github/workflows/ci.yml
  README.md
  apps/cli/src/index.ts
  apps/cli/tsconfig.json
  apps/web/app/api/agent/route.ts
  apps/web/components/agent-shell.tsx
  apps/web/package.json
  package.json
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
  packages/agent-core/src/github/activity.ts
  packages/agent-core/src/github/client.ts
  scripts/audit-llm-models.sh
Due: format, lint

fix(pr): harden llm retries and route safety
  .github/workflows/evals.yml
  apps/web/app/api/agent/route.ts
  apps/web/components/agent-shell.tsx
  apps/web/components/block-renderer.tsx
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
  packages/agent-core/src/github/activity.ts
  packages/agent-core/src/github/client.ts
  packages/agent-core/src/llm/config.test.ts
  packages/agent-core/src/llm/config.ts
  packages/agent-core/src/metrics.ts
  scripts/audit-llm-models.sh
Due: format, lint

fix(pr): tighten github client parsing
  docs/TESTING.md
  packages/agent-core/src/github/client.ts
Due: format, lint

fix(pr): tighten fallback scope and repo limits
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
Due: format, lint

fix(pr): harden web shell and github actor handling
  apps/web/app/api/agent/route.ts
  apps/web/components/agent-shell.tsx
  packages/agent-core/src/github/activity.test.ts
  packages/agent-core/src/github/activity.ts
Due: format, lint

fix(pr): tighten llm budget and prompt semantics
  package.json
  packages/agent-core/package.json
  packages/agent-core/src/agent.ts
  packages/agent-core/src/llm/prompt.test.ts
  packages/agent-core/src/llm/prompt.ts
Due: format, lint

fix(pr): harden route access and fallback scope output
  .github/workflows/ci.yml
  README.md
  apps/web/app/api/agent/route.ts
  apps/web/components/agent-shell.tsx
  apps/web/lib/agent-route-guard.test.ts
  apps/web/lib/agent-route-guard.ts
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
  scripts/audit-llm-models.sh
Due: format, lint

fix(pr): close remaining review threads
  apps/cli/package.json
  apps/cli/src/index.test.ts
  apps/cli/src/index.ts
  apps/cli/tsconfig.json
  apps/web/components/agent-shell.tsx
  apps/web/lib/agent-route-guard.test.ts
  apps/web/lib/window-input.test.ts
  apps/web/lib/window-input.ts
  package.json
  packages/agent-core/src/agent.ts
Due: format, lint

fix(pr): export narrative hook types
  packages/agent-core/src/agent.ts
  packages/agent-core/src/index.ts
Due: format, lint

fix(pr): tighten web validation and route guard
  apps/web/components/agent-shell.tsx
  apps/web/lib/agent-route-guard.ts
  apps/web/lib/window-input.test.ts
  apps/web/lib/window-input.ts
  apps/web/package.json
  package.json
Due: format, lint

fix(pr): tighten retry config and token warnings
  apps/web/app/api/agent/route.ts
  apps/web/lib/agent-route-guard.ts
  packages/agent-core/src/llm/config.test.ts
  packages/agent-core/src/llm/config.ts
Due: format, lint

fix: close remaining review blockers
  apps/web/app/api/agent/route.test.ts
  apps/web/app/api/agent/route.ts
  apps/web/components/block-renderer.tsx
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
  packages/agent-core/src/github/activity.ts
  packages/agent-core/src/github/client.test.ts
  scripts/audit-llm-models.sh
Due: format, lint

fix: address follow-up PR review bugs
  apps/cli/src/index.test.ts
  apps/cli/src/index.ts
  apps/web/app/api/agent/route.test.ts
  apps/web/app/api/agent/route.ts
  apps/web/lib/agent-route-guard.test.ts
  apps/web/lib/agent-route-guard.ts
  packages/agent-core/src/agent.test.ts
  packages/agent-core/src/agent.ts
Due: format, lint
