Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

.lefthook.yml:

# Lefthook Configuration
# Fast git hooks (3-5x faster than Husky, parallel execution)
# Performance budget: <5s pre-commit, <15s pre-push

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --cache {staged_files}
      stage_fixed: true
    secrets:
      run: gitleaks protect --staged --verbose --config .gitleaks.toml

pre-push:
  commands:
    typecheck:
      run: pnpm typecheck
    test:
      run: pnpm test --bail
    convex:
      run: npx convex typecheck

fix(deploy): implement robust Convex deployment with validation
  scripts/vercel-build.sh
  vercel.json
Due: none

fix(deploy): use inline buildCommand to access encrypted env vars
  vercel.json
Due: none

feat(build): add build:local script for local one-shot builds
  package.json
Due: none

feat(ci): add deployment configuration verification
  .github/workflows/ci.yml
  scripts/verify-deployment-config.sh
Due: none

feat(hooks): add build check to pre-push hook with escape hatch
  .lefthook.yml
  README.md
Due: format

chore(deps): add dev deps to silence Turbopack warnings
  package.json
  pnpm-lock.yaml
Due: none

docs: update TODO and deployment documentation
  .env.example
  BACKLOG.md
  CI-FAILURE-SUMMARY.md
  TASK.md
  TODO.md
  docs/deployment/MIGRATION_CHECKLIST.md
  docs/deployment/PREVIEW_DEPLOYMENTS_GUIDE.md
  docs/deployment/VERCEL_SETUP.md
  scripts/vercel-build.sh
  vercel.json
Due: format

fix(deploy): remove literal \n from Convex deploy keys
  TODO.md
Due: format

fix(deploy): configure misty-step/gitpulse with all environment variables
  TODO.md
Due: format

fix(review): address critical and in-scope PR feedback
  .env.example
  .github/workflows/enforce-pnpm.yml
  .gitleaks.toml
  BACKLOG.md
  app/api/health/__tests__/route.test.ts
  convex/ingestionJobs.ts
  convex/lib/GitHubClient.ts
  convex/lib/LLMClient.ts
  convex/lib/__tests__/LLMClient.test.ts
Due: format, lint

feat(api): split liveness and deep health checks
  app/api/health/__tests__/route.test.ts
  app/api/health/route.ts
Due: format, lint

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

chore(api): harden health contract
  BACKLOG.md
  app/api/health/__tests__/route.test.ts
  app/api/health/route.ts
  docs/adr/0001-health-endpoint-contract.md
  lib/auth/publicRoutes.ts
  lib/health/index.ts
  middleware.ts
Due: format, lint

chore(auth): wrap public matcher and add hook guard
  docs/adr/0001-health-endpoint-contract.md
  lib/auth/publicRoutes.ts
  package.json
  scripts/check-hooks.sh
Due: format, lint

chore(env): enforce env check and make dashboard dynamic
  app/dashboard/layout.tsx
  package.json
  scripts/env-check.mjs
Due: format, lint

feat: redesign footer and implement changesets automation
  .changeset/README.md
  .changeset/config.json
  .changeset/footer-redesign-and-automation.md
  .github/workflows/release.yml
  BACKLOG.md
  CONTRIBUTING.md
  TODO.md
  app/page.tsx
  components/Footer.tsx
  components/HeroMetadata.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

fix: remove env:check from build:app to match deployment config
  package.json
Due: none

fix: address PR feedback - accessibility, cleanup, and polish
  .changeset/footer-redesign-and-automation.md
  CONTRIBUTING.md
  components/Footer.tsx
  components/HeroMetadata.tsx
Due: format, lint

docs: add component testing tasks to backlog
  BACKLOG.md
Due: format

fix: align release workflow and health badge
  .changeset/config.json
  .changeset/footer-redesign-and-automation.md
  .github/workflows/release.yml
  BACKLOG.md
  TODO.md
  app/privacy/page.tsx
  app/terms/page.tsx
  components/Footer.tsx
  components/HeroMetadata.tsx
  package.json
  pnpm-lock.yaml
  tests/components/Footer.test.tsx
  tests/components/HeroMetadata.test.tsx
  tests/jest.setup.ts
Due: format, lint

test: harden footer clipboard mocks
  tests/components/Footer.test.tsx
Due: format, lint

fix(api): make health endpoint probe-friendly
  app/api/health/__tests__/route.test.ts
  app/api/health/route.ts
Due: format, lint

chore: add json-summary reporter to Jest coverage config
  jest.config.cjs
Due: none

feat: add GitHub Actions coverage workflow
  .github/workflows/coverage.yml
Due: none

docs: add coverage badge to README
  README.md
Due: format

feat(e2e): add webServer config with unique port to avoid conflicts
  playwright.config.ts
Due: format, lint

docs: add work log to E2E auth test task
  TODO.md
Due: format

test: add P0 critical security tests (Phase 2 complete)
  app/api/webhooks/github/__tests__/route.test.ts
  convex/actions/github/__tests__/processWebhook.test.ts
  convex/lib/__tests__/canonicalizeEvent.test.ts
  convex/lib/__tests__/contentHash.test.ts
Due: format, lint

feat(e2e): add E2E test infrastructure and fixtures
  e2e/.keep
  e2e/README.md
  e2e/auth.spec.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/users.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

docs: add test coverage infrastructure specification
  COVERAGE_RESEARCH.md
  TASK.md
Due: format

chore: add Playwright artifacts to gitignore
  .gitignore
Due: none

chore: update Convex generated types
  convex/_generated/api.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: format, lint

test: add report generator tests (P1-2 complete)
  convex/lib/__tests__/reportGenerator.test.ts
Due: format, lint

docs: mark P1-2 report generator tests complete
  TODO.md
Due: format

test: add LLM orchestrator tests (P1-3 complete)
  convex/lib/__tests__/llmOrchestrator.test.ts
Due: format, lint

docs: mark P1-3 LLM orchestrator tests complete
  TODO.md
Due: format
