Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

fix(observability): migrate console.* to structured logger
  app/api/auth/github/callback/route.ts
  app/api/webhooks/github/route.ts
  convex/reports.ts
Due: format, lint

feat(health): expand deep checks with external service monitoring
  app/api/health/route.ts
  lib/health/__tests__/index.test.ts
  lib/health/index.ts
Due: format, lint

fix(observability): add logging to GitHub API lib and embedding batch
  convex/actions/embeddings/ensureBatch.ts
  convex/lib/github.ts
Due: format, lint

fix(ci): resolve test failures, security vulnerability, and build
  app/api/health/__tests__/route.test.ts
  convex/lib/__tests__/github.test.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(logging): use pino err serializer for full stack traces
  convex/lib/github.ts
Due: format, lint

fix(observability): address high-priority logging gaps (#119)
  app/api/health/__tests__/route.test.ts
  convex/actions/embeddings/ensureBatch.ts
  convex/lib/__tests__/github.test.ts
  convex/lib/github.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(security): convert updateUserId to internalMutation
  convex/reports.ts
Due: format, lint

chore: add vision doc
  vision.md
Due: format

fix(security): add oldUserId/newUserId to log redaction paths
  convex/lib/logger.ts
Due: format, lint

fix(security): convert updateUserId to internalMutation (#126)
  convex/lib/logger.ts
  convex/reports.ts
  vision.md
Due: format, lint

feat(security): add Terraform config for OAuth rate limiting
  infrastructure/firewall.tf
Due: none

refactor(security): consolidate OAuth rate-limit rules per review
  infrastructure/firewall.tf
Due: none

chore(deps): update Vercel Terraform provider to ~> 4.0
  infrastructure/firewall.tf
Due: none

docs: add Terraform conventions from PR review learnings
  CLAUDE.md
Due: format

feat(security): add OAuth endpoint rate limiting (#128)
  CLAUDE.md
  infrastructure/firewall.tf
Due: format

feat(observability): migrate to PostHog, fix Sentry gaps
  .env.example
  app/dashboard/error.tsx
  app/dashboard/reports/page.tsx
  app/layout.tsx
  components/PostHogPageview.tsx
  components/PostHogProvider.tsx
  convex/lib/timeWindows.ts
  lib/__tests__/analytics.test.ts
  lib/analytics.ts
  lib/github/verifySignature.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint

chore: gitignore lefthook runtime directory
  .gitignore
Due: none

refactor: extract shared Sentry utilities, simplify configs
  components/PostHogPageview.tsx
  convex/lib/timeWindows.ts
  lib/sentry.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint

fix(observability): address PR review feedback
  .env.example
  .gitignore
  components/PostHogProvider.tsx
  lib/__tests__/sentry.test.ts
  lib/github/verifySignature.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint

fix: gitignore .husky/ not .lefthook/ (lefthook uses legacy path)
  .gitignore
Due: none

chore: fix lefthook to use .git/hooks/ instead of .husky/
  .gitignore
Due: none

feat(observability): migrate to PostHog, fix Sentry gaps (#130)
  .env.example
  app/dashboard/error.tsx
  app/dashboard/reports/page.tsx
  app/layout.tsx
  components/PostHogPageview.tsx
  components/PostHogProvider.tsx
  convex/lib/timeWindows.ts
  lib/__tests__/analytics.test.ts
  lib/__tests__/sentry.test.ts
  lib/analytics.ts
  lib/github/verifySignature.ts
  lib/sentry.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint

feat(dashboard): add Yesterday widget for quick standup summary (#93)
  app/dashboard/reports/page.tsx
  components/YesterdayWidget.tsx
Due: format, lint

refactor: simplify YesterdayWidget implementation
  components/YesterdayWidget.tsx
Due: format, lint

refactor: extract formatReportDate to shared lib/formatters
  app/dashboard/reports/page.tsx
  components/YesterdayWidget.tsx
  lib/formatters.ts
Due: format, lint

fix: address PR review feedback
  app/dashboard/reports/page.tsx
  components/YesterdayWidget.tsx
  convex/reports.ts
Due: format, lint

fix: improve YesterdayWidget fallback message
  components/YesterdayWidget.tsx
Due: format, lint

feat(dashboard): add Yesterday widget for quick standup summary (#131)
  app/dashboard/reports/page.tsx
  components/YesterdayWidget.tsx
  convex/reports.ts
  lib/formatters.ts
Due: format, lint

refactor(reports): align Zod schema with Convex sections format (#135)
  convex/lib/__tests__/reportSchemas.test.ts
  convex/lib/reportSchemas.ts
Due: format, lint

feat(reports): switch to JSON mode for structured section output (#135)
  convex/lib/generateReport.ts
Due: format, lint

test(reports): add unit tests for section parsing helpers (#135)
  convex/lib/__tests__/generateReport.test.ts
  convex/lib/generateReport.ts
Due: format, lint

fix(evals): update promptfoo config for JSON output format (#135)
  evals/promptfooconfig.yaml
  evals/prompts/daily-report.txt
  evals/prompts/weekly-report.txt
Due: none

ci(evals): improve reliability with determinism and retries (#135)
  .github/workflows/evals.yml
  evals/promptfooconfig.yaml
Due: none

fix(deps): upgrade next.js to 16.1.6 for security fix
  package.json
  pnpm-lock.yaml
Due: none

fix(evals): strip Gemini thinking traces from JSON output (#135)
  evals/promptfooconfig.yaml
Due: none

fix(deps): upgrade @clerk/nextjs to 6.37.0 for Next.js 16.1 compat
  package.json
  pnpm-lock.yaml
Due: none

fix(evals): add test-level prompt filtering to fix mismatch (#135)
  evals/promptfooconfig.yaml
  package.json
  pnpm-lock.yaml
Due: none

fix(evals): relax typo assertion to accept LLM synonyms
  evals/promptfooconfig.yaml
Due: none

fix(evals): redesign assertions to test behavior not implementation
  evals/promptfooconfig.yaml
Due: none

feat(ci): post LLM eval results as PR comment (#135)
  .github/workflows/evals.yml
Due: none

Path conditions:
  format: any of: *.{ts,tsx,md}
  lint: any of: *.{ts,tsx,js,jsx}
