Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

fix(reports): use user timezone for report window calculations
  convex/actions/reports/generate.ts
Due: format, lint

feat(reports): add backfill action with sync wait and report generation
  convex/actions/reports/backfill.ts
  convex/actions/reports/generate.ts
  convex/actions/reports/regenerate.ts
  convex/actions/reports/runRegeneration.ts
  convex/lib/generateReport.ts
  convex/lib/timeWindows.ts
Due: format, lint

feat(ui): refined luxury report redesign with exquisite typography
  app/dashboard/reports/[id]/page.tsx
  app/dashboard/reports/page.tsx
  app/globals.css
  components/AnimatedSection.tsx
  components/CitationCard.tsx
  components/MetadataPanel.tsx
  convex/_generated/api.d.ts
  convex/actions/reports/regenerateLastWeek.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(reports): standardize timezone handling across report generation
  convex/_generated/api.d.ts
  convex/actions/generateScheduledReport.ts
  convex/actions/reports/backfill.ts
  convex/actions/reports/generate.ts
  convex/lib/LLMClient.ts
  convex/lib/__tests__/LLMClient.test.ts
  convex/lib/aiProviders.ts
  convex/lib/generateReport.ts
  convex/lib/langfuse.ts
Due: format, lint

fix(reports): display only repos with commits, improve UX metadata
  BACKLOG.md
  app/dashboard/reports/[id]/page.tsx
  components/MetadataPanel.tsx
  convex/lib/generateReport.ts
  convex/reports.ts
  convex/schema.ts
Due: format, lint

fix(ci): update Next.js to 16.0.10, fix evals workflow
  .github/workflows/evals.yml
  package.json
  pnpm-lock.yaml
Due: none

fix(security): override jws to ^4.0.1 via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: none

test: add comprehensive test coverage for sync, langfuse, and metrics
  .github/workflows/evals.yml
  convex/actions/sync/__tests__/processSyncJob.test.ts
  convex/actions/sync/__tests__/requestSync.test.ts
  convex/lib/__tests__/langfuse.test.ts
  evals/promptfooconfig.yaml
  jest.config.cjs
  lib/__tests__/metrics.test.ts
Due: format, lint

fix(evals): test what we ship - unified on prod model gemini-3-pro-preview
  convex/actions/sync/__tests__/processSyncJob.test.ts
  convex/actions/sync/__tests__/requestSync.test.ts
  convex/lib/__tests__/langfuse.test.ts
  evals/promptfooconfig.yaml
  evals/prompts/daily-report.txt
  evals/prompts/weekly-report.txt
  lib/__tests__/metrics.test.ts
  tests/utils/assertions.ts
  tests/utils/factories.ts
Due: format, lint

fix(evals): remove arbitrary length constraint on minimal activity test
  evals/promptfooconfig.yaml
Due: none

feat(cron): migrate weekly reports to midnightUtcHour + Sunday filter
  convex/actions/__tests__/runWeeklyReports.test.ts
  convex/actions/runWeeklyReports.ts
  convex/lib/__tests__/timeWindows.test.ts
  convex/lib/timeWindows.ts
Due: format, lint

docs: add design specs and task documentation
  BACKLOG.md
  DESIGN.md
  STRATEGY.md
  TASK.md
Due: format

fix(cron): address PR feedback - cache formatters, fix test comments
  BACKLOG.md
  convex/actions/__tests__/runWeeklyReports.test.ts
  convex/lib/__tests__/timeWindows.test.ts
  convex/lib/timeWindows.ts
Due: format, lint

docs: comprehensive documentation refresh and new READMEs
  CLAUDE.md
  README.md
  components/README.md
  convex/README.md
  convex/actions/README.md
  convex/lib/README.md
  docs/TESTING.md
  tests/utils/README.md
Due: format

Fix weekly cron to use midnightUtcHour + Sunday (#25)
  BACKLOG.md
  CLAUDE.md
  DESIGN.md
  README.md
  STRATEGY.md
  TASK.md
  components/README.md
  convex/README.md
  convex/actions/README.md
  convex/actions/__tests__/runWeeklyReports.test.ts
  convex/actions/runWeeklyReports.ts
  convex/lib/README.md
  convex/lib/__tests__/timeWindows.test.ts
  convex/lib/timeWindows.ts
  docs/TESTING.md
  tests/utils/README.md
Due: format, lint

chore: migrate BACKLOG.md to GitHub Issues
  BACKLOG.md
  STRATEGY.md
Due: format

chore: docs cleanup
  DESIGN.md
  TASK.md
  TODO.md
Due: format

fix(security): add ownership check to getById query (#73)
  convex/reports.ts
Due: format, lint

fix(ci): resolve CI failures for IDOR fix PR
  .github/workflows/coverage.yml
  package.json
  pnpm-lock.yaml
Due: none

fix(security): add ownership check to getById query (#96)
  .github/workflows/coverage.yml
  convex/reports.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix: add transformIgnorePatterns for marked ESM package
  jest.config.cjs
Due: none

feat(seo): add OG meta tags and social sharing image
  app/layout.tsx
  public/og-image.png
Due: format, lint

fix: skip Claude code review for Dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

feat(seo): add OG meta tags and social sharing image (#111)
  app/layout.tsx
  public/og-image.png
Due: format, lint

feat(analytics): add funnel event tracking for launch metrics (#105)
  app/dashboard/reports/[id]/page.tsx
  app/dashboard/reports/page.tsx
  app/dashboard/settings/repositories/page.tsx
  app/onboarding/page.tsx
  app/page.tsx
  lib/__tests__/analytics.test.ts
  lib/analytics.ts
Due: format, lint

fix(analytics): address PR review feedback
  app/dashboard/reports/[id]/page.tsx
  app/dashboard/settings/repositories/page.tsx
  app/onboarding/page.tsx
  lib/analytics.ts
Due: format, lint

feat(analytics): add funnel event tracking for launch metrics (#113)
  app/dashboard/reports/[id]/page.tsx
  app/dashboard/reports/page.tsx
  app/dashboard/settings/repositories/page.tsx
  app/onboarding/page.tsx
  app/page.tsx
  lib/__tests__/analytics.test.ts
  lib/analytics.ts
Due: format, lint

feat(landing): tighten value proposition with benefit-focused copy (closes #100)
  app/page.tsx
  components/HeroMetadata.tsx
  tests/components/HeroMetadata.test.tsx
Due: format, lint

feat(design): editorial brutalism + OKLCH token system compliance
  app/dashboard/error.tsx
  app/error.tsx
  app/globals.css
  app/onboarding/page.tsx
  app/page.tsx
  components/ThemeToggle.tsx
Due: format, lint

Tighten landing page value proposition (#114)
  app/dashboard/error.tsx
  app/error.tsx
  app/globals.css
  app/onboarding/page.tsx
  app/page.tsx
  components/HeroMetadata.tsx
  components/ThemeToggle.tsx
  tests/components/HeroMetadata.test.tsx
Due: format, lint

fix(security): add ownership check to requestManualSync (#74)
  convex/_generated/api.d.ts
  convex/actions/sync/requestSync.ts
  convex/userInstallations.ts
Due: format, lint

test(security): add authorization tests and observability for ownership check
  convex/actions/sync/__tests__/requestSync.test.ts
  convex/actions/sync/requestSync.ts
Due: format, lint

fix(security): add ownership check to requestManualSync (#115)
  convex/_generated/api.d.ts
  convex/actions/sync/__tests__/requestSync.test.ts
  convex/actions/sync/requestSync.ts
  convex/userInstallations.ts
Due: format, lint

fix(ci): simplify CI triggers and add production OAuth support
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  app/api/auth/github/route.ts
Due: format, lint

docs: comprehensive documentation audit and improvements
  .env.example
  AGENTS.md
  DESIGN.md
  README.md
  docs/STATE_MACHINES.md
  docs/adr/0002-content-addressed-fact-graph.md
  docs/adr/0003-pure-sync-policy-module.md
  docs/adr/0004-timezone-midnight-scheduling.md
  docs/adr/0005-embedding-provider-strategy.md
  docs/adr/0006-llm-model-selection.md
  docs/adr/0007-job-per-repo-sync-architecture.md
  docs/adr/0008-langfuse-observability.md
  docs/adr/0009-public-route-allowlist.md
  docs/adr/TEMPLATE.md
  evals/README.md
  hooks/README.md
  lib/README.md
Due: format

feat(ui): add preview mode for unauthenticated UI testing
  app/(preview)/layout.tsx
  app/(preview)/preview/onboarding/page.tsx
  app/(preview)/preview/page.tsx
  lib/auth/publicRoutes.ts
Due: format, lint

style(onboarding): apply GitHub-dark theme polish
  app/onboarding/page.tsx
Due: format, lint

feat(observability): add structured logger for Next.js routes
  lib/logger.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,tsx,md}
  lint: any of: *.{ts,tsx,js,jsx}
