Repository misty-step/gitpulse: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

.lefthook.yml:

# Lefthook Configuration
# Fast git hooks (3-5x faster than Husky, parallel execution)
# Performance budget: <5s pre-commit, <15s pre-push

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix --cache {staged_files}
      stage_fixed: true
    secrets:
      run: gitleaks protect --staged --verbose --config .gitleaks.toml

pre-push:
  commands:
    typecheck:
      run: pnpm typecheck
    test:
      run: pnpm test --bail
    convex:
      run: npx convex typecheck
    build:
      run: |
        if [ "${SKIP_BUILD_CHECK:-}" = "true" ]; then
          echo "âš ï¸  Skipping build check (SKIP_BUILD_CHECK=true)"
          exit 0
        fi
        echo "ðŸ”¨ Running build check..."
        pnpm build:app

test: add backfill orchestration tests (P1-1 complete)
  convex/actions/github/__tests__/startBackfill.test.ts
Due: format, lint

docs: mark P1-1 backfill orchestration tests complete
  TODO.md
Due: format

test: add comprehensive GitHub client test suite
  convex/lib/__tests__/github.test.ts
Due: format, lint

docs: mark P1-4 GitHub client tests as complete
  TODO.md
Due: format

feat: add comprehensive test fixture factories
  convex/lib/__tests__/github.test.ts
  convex/lib/__tests__/llmOrchestrator.test.ts
  convex/lib/__tests__/reportGenerator.test.ts
  tests/utils/factories.ts
Due: format, lint

feat: add custom test assertions library
  convex/lib/__tests__/contentHash.test.ts
  tests/utils/assertions.ts
Due: format, lint

docs: mark test utilities complete in TODO.md
  TODO.md
Due: format

docs: add completion details to Phase 5 utilities
  TODO.md
Due: format

docs: add comprehensive testing guide
  docs/TESTING.md
Due: format

docs: update CLAUDE.md with comprehensive testing section
  CLAUDE.md
Due: format

docs: mark Phase 5 documentation tasks complete
  TODO.md
Due: format

feat: complete Phase 3 E2E tests with Clerk testing integration
  .env.example
  .github/workflows/e2e.yml
  .gitignore
  README.md
  TODO.md
  app/api/webhooks/github/__tests__/route.test.ts
  docs/TESTING.md
  e2e/auth.spec.ts
  e2e/fixtures/auth.ts
  e2e/fixtures/users.ts
  e2e/global.setup.ts
  e2e/reports.spec.ts
  e2e/webhook.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: format, lint

feat(e2e): switch to email-based authentication and fix all tests
  .env.example
  .github/workflows/e2e.yml
  docs/TESTING.md
  e2e/auth.spec.ts
  e2e/global.setup.ts
  e2e/reports.spec.ts
  e2e/webhook.spec.ts
  playwright.config.ts
Due: format, lint

fix(tests): remove deprecated .handler property from Convex action calls
  convex/actions/github/__tests__/processWebhook.test.ts
  convex/actions/github/__tests__/startBackfill.test.ts
  convex/actions/github/processWebhook.ts
  convex/actions/github/startBackfill.ts
Due: format, lint

chore: improve gitignore pattern for Playwright auth state
  .gitignore
Due: none

fix(gitignore): move inline comment to separate line for **/.clerk pattern
  .gitignore
Due: none

fix(tests): resolve TypeScript errors and E2E pnpm version conflict
  .github/workflows/e2e.yml
  convex/actions/github/__tests__/processWebhook.test.ts
  convex/lib/__tests__/github.test.ts
  convex/lib/__tests__/reportGenerator.test.ts
  tests/utils/factories.ts
Due: format, lint

test: add comprehensive unit tests to increase coverage
  convex/actions/__tests__/_nodeUtils.test.ts
  convex/actions/__tests__/generateEmbeddings.test.ts
  convex/actions/__tests__/ingestRepo.test.ts
  convex/actions/__tests__/listRepos.test.ts
  convex/actions/__tests__/runDailyReports.test.ts
  convex/actions/__tests__/runWeeklyReports.test.ts
  convex/actions/__tests__/syncUserActivity.test.ts
  convex/actions/__tests__/vectorSearch.test.ts
  convex/lib/__tests__/markdown.test.ts
  convex/lib/__tests__/metrics.test.ts
  convex/lib/__tests__/prompts.test.ts
  convex/lib/__tests__/url.test.ts
  lib/__tests__/errors.test.ts
  lib/health/__tests__/index.test.ts
  tests/__mocks__/convexCtx.ts
Due: format, lint

fix(ci): skip E2E for forked PRs
  .github/workflows/e2e.yml
Due: none

chore: docs update
  BACKLOG.md
  COVERAGE_RESEARCH.md
  TASK.md
  TODO.md
Due: format

feat(sync): add pure SyncPolicy module for sync decisions
  convex/lib/__tests__/syncPolicy.test.ts
  convex/lib/syncPolicy.ts
Due: format, lint

feat(sync): add SyncService orchestrator with one-job-per-installation invariant
  TODO.md
  convex/ingestionJobs.ts
  convex/lib/__tests__/syncService.test.ts
  convex/lib/syncService.ts
Due: format, lint

Update React Flight/Next.js RCE vulnerability
  package.json
  pnpm-lock.yaml
Due: none

feat(sync): add processSyncJob worker for unified sync execution
  TODO.md
  convex/actions/sync/__tests__/processSyncJob.test.ts
  convex/actions/sync/processSyncJob.ts
Due: format, lint

feat(sync): add "recovery" trigger type for self-healing syncs
  convex/lib/__tests__/syncPolicy.test.ts
  convex/lib/syncPolicy.ts
Due: format, lint

feat(sync): detect zero-event pattern and schedule recovery sync
  convex/actions/sync/processSyncJob.ts
  convex/actions/sync/requestSync.ts
  convex/events.ts
  convex/ingestionJobs.ts
  convex/lib/syncService.ts
  convex/schema.ts
Due: format, lint

feat(ux): Phase 1 self-healing UX improvements
  app/dashboard/settings/repositories/page.tsx
  components/IntegrationStatusBanner.tsx
  convex/actions/generateScheduledReport.ts
  convex/lib/__tests__/coverage.test.ts
  convex/lib/__tests__/reportOrchestrator.test.ts
  convex/lib/coverage.ts
  convex/lib/reportOrchestrator.ts
Due: format, lint

fix(ci): resolve hooks violation and increase test coverage
  components/IntegrationStatusBanner.tsx
  convex/actions/sync/__tests__/requestSync.test.ts
  lib/__tests__/errors.test.ts
  lib/__tests__/integrationStatus.test.ts
Due: format, lint

feat(sync): wire all callers to SyncService (Phase 4)
  app/dashboard/settings/repositories/page.tsx
  convex/_generated/api.d.ts
  convex/actions/github/__tests__/processWebhook.test.ts
  convex/actions/github/maintenance.ts
  convex/actions/github/processWebhook.ts
  convex/actions/github/scheduler.ts
  convex/actions/startBackfill.ts
  convex/actions/sync/__tests__/processSyncJob.test.ts
  convex/actions/sync/requestSync.ts
  convex/lib/__tests__/syncService.test.ts
  convex/lib/syncService.ts
Due: format, lint

feat(observability): complete Phase 8 - add duration to sync.job.completed metric
  TODO.md
  convex/actions/sync/processSyncJob.ts
Due: format, lint

feat(schema): add sync orchestration fields to installations table
  convex/installations.ts
  convex/schema.ts
Due: format, lint

docs: mark Phase 2 self-healing detection as complete
  TODO.md
Due: format

fix(health): use Convex /version endpoint for availability checks
  TODO.md
  app/api/health/__tests__/route.test.ts
  lib/health/index.ts
Due: format, lint

feat(sync): add slim status view-model (Phase 5)
  TODO.md
  convex/sync/__tests__/getStatus.test.ts
  convex/sync/getStatus.ts
Due: format, lint

fix(tests): remove redundant requestSync wrapper tests
  convex/actions/sync/__tests__/requestSync.test.ts
Due: format, lint

feat(ui): refactor UI components to use sync view-model (Phase 6)
  TODO.md
  app/dashboard/settings/repositories/page.tsx
  components/IntegrationStatusBanner.tsx
  convex/_generated/api.d.ts
  convex/sync/__tests__/getStatus.test.ts
  convex/sync/getStatus.ts
Due: format, lint

chore(docs): add Self-Healing UX implementation roadmap
  TODO.md
Due: format
